<form action = "/login" method = "POST">
<label for = "uername"> Username:</label>
<input id = "username" type = "text" name = "username"/>
<label for = "password"> Password:</lable>
<input id = "password" type = "text" name = "password"/>
<input type = "submit" value = "Login"/>
</form> 