<form action = "/login" method = "POST">
<label for = "uername"> Username:</label>
<input id = "username" type = "text" name = "login[name]"/>
<label for = "password"> Password:</lable>
<input id = "password" type = "text" name = "login[password]"/>
</form> 