<h1> Add a new comment </h1>
<form method = "POST" action ="/comments">
  Name:
  <input type="text" name="name" value=""/><br>
  Comment:
  <textarea id = "comment" name = "comment"></textarea><br>
  <input type="submit" value="Save Comment">
</form>