<h1> Comment by: <%= @comment.name %></h1>
<p>
	Created at: <%= @comment.time_created.to_s %>
</p>

<p>
	Comment: <%= @comment.content %>
</p>

<p>
	<a href = "/comments"> Back to Comments List</a>
</p>