<form>
  First name:
  <input type="text" name="firstname" value="<%= if @student.nil? then "" else @student.first_name end%>"/><br>
  Last name:
  <input type="text" name="lastname" value="<%= if @student.nil? then "" else @student.last_name end%>"/><br>
  Birthday(mm/dd/yyyy):
  <input id ="birthday" type = "text" name = "birthday" value= "<%= if @student.nil? then "" else (@student.birthday.strftime('%m/%d/%Y') if @student.birthday) end%>"/><br>
  Address:
  <textarea id = "address" name = "address"></textarea><br>
  Score:
  <input id = "score"  type = "number" name = "score" value = "<%= if @student.nil? then "" else @student.score end%>"/><br>

  <input type="submit" value="Submit">
</form>