<form >
  First name:
  <input type="text" name="firstname" value=""><br>
  Last name:
  <input type="text" name="lastname" value=""><br>
  Birthday(mm/dd/yyyy):
  <input id ="birthday" type = "text" name = "birthday" value= ""><br>
  Address:
  <textarea id = "address" name = "address"></textarea><br>
  Score:
  <input id = "score"  type = "number" name = "score" value = ""><br>

  <input type="submit" value="Submit">
</form>